$logo-color: #eb0e3b;
$main-font: 'Montserrat Alternates', sans-serif;
$sub-font: 'Lobster', cursive;
$text-white: white;
$modal-header-color: green;




* {
   margin: 0;
   padding: 0;
   font-family: $main-font;
   font-weight: 500;
   font-size: 20px;

}

.navbar  {
    height: auto; 
}
.navbar h6 {
   font-family: $sub-font;
   font-size: 1.3em;
   color: $text-white;
}
.navbar h6 span{
   font-family: $sub-font;
    color: $logo-color;
    font-size: 1.6em;
}

.navbar-nav nav-link {
   font-size: .8em;
}
.navbar-nav nav-link:hover {
   font-size: .8em;
   opacity: 1;
   
}

.modal-header {
   background-color: green;
   /* color: white; */
   opacity: .8;
}

#pageHead {
margin-top: 100px;
background-color: $text-white;
padding: 10px;

}

#pageHead .card-body {
   background-color: lightgray;
   border: solid black 5px;
   border-radius: 50%;
}


#pageHead h1 {
   font-family: 'lobster', cursive;
   margin-top: -50px;
}

#display .container {
    width: auto;
    height: auto;
    margin-bottom: 150px;
    height: 200px;    
} 


#display .carousel-caption {
   background-color: black;
   opacity: .8;
   border-radius: 10px;
   height: 25%;
   width: auto;
} 
#display .carousel-caption h5{ 
    font-size: 1.5em;
}
#display .carousel-caption p {
    font-size: 1.3em;
}

.card {
   border: 3px black solid;
}
.card .card-title {
   border-bottom: 2px solid lightgray;
}

iframe {
   border: 3px black solid;
   border-radius: 10px;
   }
 

#aboutUs span {
    color: $logo-color;
    font-size: 1.8em;
    font-weight: 650;
}
#team .container .row-content {
   padding: 20px;
   padding-left: 0;
   margin: 20px;
   margin-left: 0;
}

#team .container img {
    width: 100%;
    height: 100%;
    border: solid black 3px;
}

#welcome {
    font-style: italic;
}

#welcome .welcome {
   text-decoration: underline;
   background-color:bisque;
   width: max-content;
}

#newMessage {
    margin: 100px 40px 0 40px;
    
}
#newMessage .form-control {
   border: solid black 3px;
}
#prevMessages li a:hover {
    opacity: .7;
}

.contact {
    background-color: green;
    color: $text-white;
    opacity: .8;
   
}
#contactus .container {
    margin-top: 40px;
}
#contactus p {
    font-size: large;
}


#contactus .card {
    margin: 10px;
}


footer a{
 color: $text-white;
   font-size: .8em;
   opacity: 1;
}
footer a:hover{
   color: $text-white;
   text-decoration: none;
   opacity: .7;    
}

