 * {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 20px;

 }

 .navbar  {
     height: auto; 
 }
 .navbar h6 {
    font-family: 'Lobster', cursive;
    font-size: 1.3em;
    color: white;
 }
 .navbar h6 span{
    font-family: 'Lobster', cursive;
     color: #eb0e3b;
     font-size: 1.6em;
 }

.navbar-nav nav-link {
    font-size: .8em;
}
.navbar-nav nav-link:hover {
    font-size: .8em;
    opacity: 1;
    
}
#pageHead {
 margin-top: 100px;
 background-color: #eaeaf5;
 padding: 10px;

}

#pageHead .card-body {
    background-color: lightgray;
    border: solid black 5px;
    border-radius: 50%;
}


#pageHead h1 {
    font-family: 'lobster', cursive;
    margin-top: -50px;
}

 #display .container {
     width: auto;
     height: auto;
     margin-bottom: 150px;
     height: 200px;    
 } 


 #display .carousel-caption {
    background-color: black;
    opacity: .8;
    border-radius: 10px;
    height: 30%;
    width: auto;
 } 
 #display .carousel-caption h5{ 
     font-size: 1.5em;
 }
 #display .carousel-caption p {
     font-size: 1.3em;
 }

 .card {
    border: 3px black solid;
 }
 .card .card-title {
    border-bottom: 2px solid lightgray;
 }

 #aboutUs span {
     color: #eb0e3b;
     font-size: 1.8em;
     font-weight: 650;
 }
 #team .container .row-content {
    padding: 20px;
    padding-left: 0;
    margin: 20px;
    margin-left: 0;
 }

 #team .container img {
     width: 100%;
     height: 100%;
     border: solid black 3px;
 }

 #welcome {
     font-style: italic;
 }

 #welcome .welcome {
    text-decoration: underline;
    background-color:bisque;
    width: max-content;
 }

 #newMessage {
     margin: 100px 40px 0 40px;
     
 }
 #newMessage .form-control {
    border: solid black 3px;
 }
 #prevMessages li a:hover {
     opacity: .7;
 }

 .contact {
     background-color: darkgreen;
     color: white;
    
 }
 #contactus p {
     font-size: large;
 }


 #contactus .card {
     margin: 10px;
 }


 footer a{
  color: white;
    font-size: .8em;
    opacity: 1;
 }
 footer a:hover{
    color: white;
    text-decoration: none;
    opacity: .7;    
 }

 /* up to medium viewports */
 /*@media screen and (max-width: 768px) {
     
 /* .navbar  {
    background-image: linear-gradient(#4A44F2, white);
    opacity: 1;
    height: auto;
    margin-bottom: 60px;
} */

/* .navbar:hover {
    opacity: 1;
} */


/* .navbar-nav a {
    color: black;
    font-size: .8em;
    opacity: .7;
    transition: color 2s ease;
}

.navbar-nav a:hover {
    color: black;
    font-size: .8em;
    opacity: 1;
    
/* } */
/* 
#pageHead h1 {
    font-family: 'lobster', cursive;
    margin-top: -50px;
    font-size: 1.6em;
}

.container h3 {
    font-size: 1.4em;
    padding-left: 10px;
    font-style: oblique;
}
.container h5 {
    font-size: 1.1em;
    font-style: oblique;
}
.container .newsItem {
    height: auto;
}
 }  */