 * {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 20px;
 }

 .jumbotron {
   background-image: linear-gradient(white, #4A44F2);
   height: 50vh;
   width: 100%;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: white;
 }

 .jumbotron img {
    width: auto;
    height: 50vh;
    margin: auto;
    margin-top:-70px;
    margin-bottom: -110px;   
 }

 .jumbotron h1 {
     /* color: #eb0e3b; */
     color: white;
     font-style: italic;
     font-size: 1.5em;
 }
 .navbar  {
     background-image: linear-gradient(#4A44F2, white);
     height: auto; 
 }
 .navbar h6 {
    font-family: 'Lobster', cursive;
    font-size: 1.3em;
 }
 .navbar h6 span{
    font-family: 'Lobster', cursive;
     color: #eb0e3b;
     font-size: 1.6em;
   
 }

.navbar-nav a {
    color: white;
    font-size: .8em;
}
.navbar-nav a:hover {
    color: black;
    font-size: .8em;
    opacity: 1;
    
}

 .container {
     margin-top: 40px;
     margin-bottom: 40px;
 }

 #display .container {
     width: 40%;
     height: 30%;
     padding: 10px;
     border: solid black 6px;
     border-radius: 15px;
 } 

 #display .container img{
    border: solid black 1px;
    border-radius: 15px;
 }


 #display .carousel-caption {
    background-color: black;
    opacity: .7;
    border-radius: 10px;
    height: 30%;
    width: auto;
 } 
 #display .carousel-caption h5{ 
     font-size: .9em;
 }



 footer {
    background-image: linear-gradient(white, #4A44F2);
     color: white;
 }

 /* up to medium viewports */
 @media screen and (max-width: 768px) {
     
 .jumbotron {
    background-image: linear-gradient(white, #4A44F2);
    height: 30vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
  }
  
 .jumbotron img {
    width: auto;
    height: 15vh;
    margin: auto;
    margin-top:-50px;
    margin-bottom: 15px;  
 }
 .navbar  {
    background-image: linear-gradient(#4A44F2, white);
    opacity: 1;
    height: auto;

}

.navbar:hover {
    opacity: 1;
}


.navbar-nav a {
    color: black;
    font-size: .8em;
    opacity: .7;
    transition: color 2s ease;
}

.navbar-nav a:hover {
    color: black;
    font-size: .8em;
    opacity: 1;
    
}
.container h3 {
    font-size: 1.4em;
    padding-left: 10px;
    font-style: oblique;
}
.container h5 {
    font-size: 1.1em;
    font-style: oblique;
}
.container .newsItem {
    height: auto;
}
 }